# Homework 2 (Deadline: 8.04.2018 23:59)
###### No cheating policy. 
###### This file is for ATS_2018 students' use only. No part of this file may be shared with other people or stored/published in Internet (inc. Facebook,and other social media platforms).

## Functions

* Please extend the class Matrix (discussed during lab) with method Mlt. Mlt method should return the result of multiplication of two matrixes. Both matrixes are square matrixes of the same size.

* Implement two-dimenstional Rosenbrock function (https://en.wikipedia.org/wiki/Rosenbrock_function), then test it on input data stored in variable x. Use two approaches in your tests:np.apply_along_axis and for loop.

In [21]:
import numpy as np
x = np.random.normal(size=(10000, 2))

## Classes

* Please define Employee class , Driver class,Soldier class and Teacher class . Please decide, which class is a base class. Each class should contain following attributes: 
 - name,
 - surname,
 - age, 
 - salary.<br>
and methods:<br>
Info(): prints infor about the name,surname,age and salary of given employee.

* Class Soldier has
    - two extra fields: rank {Private,Corporal,General},years_in_army.
    - extra method:<br> - GiveMePromotion: where Private->Corporal,Corporal->General, General->General
    <br>- GiveMeRise: salary *mlt where mlt_Private=1.2,mlt_Corporal=1.5,mlt_General=1.8<br>
* Class Driver has
    - two extra fields: car_brand,driving_categories - list of the obtained driving categories from A,B,B,D
    - extra method:<br> -AddCategory: add driving category
       <br> -GiveMeRise: salary *(1+(number of obtained driving categories)/4)

* Class Teacher has
    - one extra field:school_type {kindergarten,primary,highschool,college}
    - extra method:<br> -GiveMeRise: salary * (1+[random number  U(0,1)])
* Please create two objects of each class and add the to the list. Change the salary of all employees in the list.

## Pandas
Using the marriage dataset solve the following exercises:

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
# http://www.statsmodels.org/dev/install.html
data = sm.datasets.fair.load_pandas()
marr = data.exog

* Show the first three and the last three rows using display function (remember to import it)

* Create a new dataset which contains all the original dataset's columns except occupation.

* Check how many unique values the children variable has. Display summary statistics about this variable.

* Create a variable containing natural logarithm of age.

* Create a discrete variable for education which denotes education level (instead of years of education) in ascending order.

* Using numpy draw a random income from log-normal distribution for each observation. Use such parameters that income looks credible taking current market conditions into account and that expected value for income increases with years of education.

* For people who have: no children, 1 child, 2 children and so on (make sure you display all values) select and display first 5 rows of people who are over 40 years old. Use query and @ operator.

Tip: You can iterate over marr.children.unique()

* Group observations by variable "rate" and calculate income's mean and standard deviation for each of the groups.

* For every row assign the mean income of people who have the same values of rate and level of education (defined earlier).

* For every row calculate the difference between income and mean income for a group of people who have the same values of rate and level of education (defined earlier). Do it in one statement (one line, no semicolon) not using the variable created earlier.